#Current Running mode.
RUN_MODE=<app_mode>

#Application configurations
API_PREFIX=<api_prefix>
API_DEFAULT_VERSION=<api_default_version>
APP_PORT=<app_port>

#DataBase Configurations.
DB_HOST=<db_host>
DB_USER=<db_user>
DB_PASS=<db_password>
DB_NAME=<db_name>
DB_PORT=<db_port>
DB_DIALECT=<db_dialect>

#Crypto Encryption
ENCRYPTION_SECRET_KEY=<secret_key>

# JWT Configuration
JWT_SECRET=<jwt_secret_key>
JWT_EXPIRES_IN=<jwt_expires_in>
JWT_REFRESH_SECRET=<jwt_refresh_secret_key>
JWT_REFRESH_EXPIRES_IN=<jwt_refresh_expires_in>